@import '../../styles/variables';

.home-wrapper {
  height: 1000px;
  padding: 30px;
}

.home-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

@for $i from 1 through length($colors) {
  $color: nth($colors, $i);
  .card-#{$i} {
    background: $color;
  }
}
