@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MontserratRegular;
  src: url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
  font-family: MontserratBold;
  src: url(./assets/fonts/Montserrat-Bold.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

html {
  font-family: 'MontserratRegular';
}

body {
  min-height: 100vh;
  overflow: hidden;
}

@layer components {
  .grid-auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
